.greet {
    margin-bottom: 50px;
    font-size: clamp(2rem, 6vw, 4.5rem);
    color: #c4c7c5;
    font-weight: 500;
}

.greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}